* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;

}

body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #E6E8FA;

}

#display {
  font-size: 36px;
  padding: 10px 5px;
  width: 240px;
  outline: 1px dotted red;
  display: flex;
  justify-content: end;
  margin: 50px 0px 10px 0px;
  border-radius: 15px;


}
#button-container {
  display: flex;
  flex-direction: column;
  width: 240px;
  padding: 0px 5px;
}



.row {
  display: flex;
  gap: 10px;
  margin-bottom: 10px;
}

.btn {
  height: 50px;
  width: 50px;
  font-size: 24px;
  border-radius: 13px;
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  cursor: pointer;


}

.zero {
    flex: 2;

}
.clear {
    flex: 3;
}
